<div class="card">
  <div class="card-header">
    Empleados
  </div>
  <div class="card-body">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Acciones </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of Employee; let iControl=index">
        <td> {{ employee.id}}</td>
        <td> {{ employee.nombre}}</td>
        <td> {{ employee.correo}}</td>
        <td>
          <a class="btn btn-warning" routerLink="/edit-employee/{{employee.id}}">Editar</a> |

         <a class="btn btn-danger" (click)="borrarRegistro(employee.id, iControl)" role="button">Borrar</a>

        </td>
      </tr>

    </tbody>
  </table>

</div>

